.b {
  border: 1px red solid;
}

.sidebar {
  min-width: 300px;
}

.h-all {
  min-height: calc(100vh - (3.25rem));
}

.h-half {
  max-height: calc((100vh - 3.25rem) / 2);
}

.scrollable {
  overflow-y: auto;
}

#profileIcon {
  margin: 0 auto;
  width: 270px;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #a0aec0;
  margin: 1em 0;
  padding: 0;
}

@media screen and (max-width: 640px) {
  #profileIcon {
    max-width: 150px;
    align-self: center;
  }
}

.minutesColor{
  color: #F14947;
}

/* 
li:last-child hr {
  border-top: none;
} */
