.body{
    background-color: white;
}

.card-background{
    background-color: white;
}

.txt-rotate{
    font-size: 20px;
    padding-top: 50px;
    margin-left: 30px;
    font-family: 'GTWalsheim', sans-serif;
  }
  