.b {
  border: 1px red solid;
}

.vh {
  min-height: 80vh;
}
.background-wrap{
  position: fixed;
  z-index: -1000;
  width: 100%;
  height: 100%;
  overflow: hidden;
  top: 0;
  left: 0;
}
#video-bg-elem{
  position: fixed;
  top: 0;
  left: 0;
  min-height: 100%;
  min-width: 100%;
}
.content{
  position: absolute;
  width: 100%;
  min-height: 100%;
  min-width: 100%;
  z-index: 1000;
  background-color: rgba(white);
}