.b {
  border: 1px red solid;
}

.mainheight {
  min-height: 95vh;
}

.vh {
  min-height: 80vh;
}

.h-center {
  margin: 0 auto;
}

.v-offset {
  position: relative;
  bottom: 30px;
}

.first-color {
  background-color: #446bb8;
}

.first-text {
  color: #446bb8;
}

.second-color {
  background-color: #3ba27a;
}

.second-text {
  color: #3ba27a;
}
.third-color {
  background-color: #f14947;
}

.third-text {
  color: #f14947;
}

.fourth-color {
  background-color: #f9b53f;
}

.fourth-text {
  color: #f9b53f;
}
