.b {
  border: 1px red solid;
}

.mainheight {
  min-height: 95vh;
}

.vh {
  min-height: 80vh;
}

.h-center {
  margin: 0 auto;
}

.v-offset {
  position: relative;
  bottom: 30px;
}

.first-color{
  background-color: #446BB8;
}

.second-color{
  background-color: #3BA27A;
}

.third-color{
  background-color: #F14947;
}

.fourth-color{
  background-color: #F9B53F;
}



