.image{
  border-radius: 50%;
  height: 150px;
  width: 150px;
  margin-bottom: 30px;
}

.personalInfoOne{
  margin-left: 30px;
  font-size: 30px;
  margin-top:20px;
}

.personalInfoTwo{
  margin-left: 30px;
  font-size: 20px;
}

.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.flex-grid {
  display: flex;
}

.col {
  flex: 1;
}

@media (max-width: 400px) {
  .flex-grid {
    display: block;
  }
}

.flex-grid-thirds {
  display: flex;
  justify-content: space-between;
}
.flex-grid-thirds .col {
  width: 32%;
}

.wrapper {
  display: flex;
  align-items: flex-end;
  min-height: 200px; 
}
.box1 {
  align-self: flex-start;
  /* border: 5px solid red; */
  width: 50%;
  padding: 10px;
 
  
}
.box2 {
  align-self: center;
  /* border: 5px solid red; */
  width: 50%;
  padding: 10px;
 
}
.box3 {
  align-self: flex-start;
  /* border: 5px solid red; */
  width: 50%;
  padding: 10px;
}
.box4 {
  align-self: center;
  /* border: 5px solid red; */
  width: 50%;
  padding: 10px;
}
.box5 {
  align-self: stretch;
  /* border: 5px solid red; */
}

.box-wrapper{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
}